/********************* welcome div starts ******************/
.welcome-box {
    height: 100vh;
    background: var(--background-gradient-color);
    position: relative;
    overflow: hidden;
    max-height: 700px;
}

.welcome-box span {
    background-color: var(--primary-transparent);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 77;
}

#girl {
    position: absolute;
    width: 500px;
    bottom: 0;
    right: -100%;
    z-index: 77;
    animation: girl 2s forwards;
}

@keyframes girl {

    0% {
        right: -100%;
    }

    100% {
        right: 2%;
    }
}

.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--lite-color);
    z-index: 88;
    animation: welcome-text 0.6s forwards;
    animation-delay: 2s;
    opacity: 0;
}

@keyframes welcome-text {
    0% {
        opacity: 0;
        transform: translate(-60%, -50%) scaleY(0);
    }

    100% {
        opacity: 1;
        transform: translate(-60%, -50%) scaleY(1);
    }
}

@media only screen and (max-width: 1200px) {
    .welcome-box {
        max-height: 500px;
    }

    #girl {
        width: 300px;
    }
}

@media only screen and (max-width: 800px) {
    .welcome-text {
        transform: translate(-70%, -50%);
    }
}

@media only screen and (max-width: 700px) {
    .welcome-box {
        max-height: 470px;
    }

    .welcome-text {
        left: 0;
        max-width: 400px;
        padding: 0px 20px;
        width: 100%;
    }

    @keyframes welcome-text {
        0% {
            opacity: 0;
            transform: translate(-0%, -50%) scaleY(0);
        }

        100% {
            opacity: 1;
            transform: translate(-0%, -50%) scaleY(1);
        }
    }
}

@media only screen and (max-width: 400px) {

    .welcome-text {
        width: 300px;
        padding: 0px 20px;
        width: 100%;
    }
}

/****************** animation box *******************/
.welcome-background-animation {
    width: 1000px;
    height: 100%;
    position: absolute;
}

.baloon {
    position: absolute;
    animation: animate 25s linear infinite;
    bottom: -400px;
}

#baloon-1 {
    left: 25%;
    width: 270px;
    animation-delay: 0s;
    z-index: 20;
    animation-duration: 18s;
}

#baloon-2 {
    left: 5%;
    width: 170px;
    animation-delay: 8s;
    animation-duration: 20s;
    z-index: 8;
}

#baloon-3 {
    left: 45%;
    width: 120px;
    animation-delay: 10s;
    animation-duration: 23s;
}

#baloon-4 {
    left: 20%;
    width: 100px;
    animation-delay: 5s;
    animation-duration: 23s;
    z-index: 4;
}

#baloon-5 {
    left: 30%;
    width: 50px;
    animation-delay: 0s;
}

#baloon-6 {
    left: 35%;
    width: 200px;
    animation-delay: 5s;
    animation-duration: 20s;
    z-index: 20;
}

@keyframes animate {

    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-1000px);
        opacity: 0.7;
    }
}

.cloud {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: cloud 30s infinite;
    opacity: 0.8;
}

#cloud-1 {
    width: 500px;
    left: -100px;
    bottom: -80px;
}

#cloud-2 {
    width: 500px;
    left: 30%;
    animation-delay: 3s;
    bottom: -40px;
}

#cloud-3 {
    width: 250px;
    left: 15%;
    z-index: 19;
    animation-delay: 5s;
}

@keyframes cloud {

    0%, 100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100px);
    }

}

/********************* welcome div ends ******************/

/********************* feature div starts ******************/
.features-holder {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 50px;
    padding: 0px 5%;
    color: var(--primary-color);
}

.features {
    transition: transform 0.3s ease;
}

.features:hover {
    transform: translateY(-5px);
}

.features h4 {
    text-align: center;
    margin: 8px 0px;
}

.features p {
    text-align: center;
}

.feature-icon {
    display: flex;
    justify-content: center;
}

.feature-icon img {
    height: 80px;
    transform: perspective(1000px) rotateY(0deg);
    /* Initially not flipped */
    transition: transform 1s ease;
}

.flipped .feature-icon img {
    transform: perspective(1000px) rotateY(180deg);
}


.read-more-feature {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

@media only screen and (max-width: 1200px) {
    .features-holder {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .features-holder {
        margin-bottom: 20px;
    }

    .features p{
        display: none;
    }

    .read-more-feature {
        display: none;
    }
}

/********************* feature div ends ******************/