.content hr {
    margin: 0px 50px;
}

.welcome-box {
    height: 100vh;
    background: var(--background-gradient-color);
    position: relative;
    overflow: hidden;
    max-height: 700px;
}

.welcome-box span{
    background-color: var(--primary-transparent);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 77;
}

#girl{
    position: absolute;
    width: 500px;
    bottom: 0;
    right: 2%;
    z-index: 77;
}

.welcome-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
    color: var(--lite-color);
    z-index: 88;
}

@media only screen and (max-width: 1200px) {
    .welcome-box{
        max-height: 500px;
    }

    #girl{
        width: 300px;
    }
}

@media only screen and (max-width: 800px) {
    .welcome-text{
        transform: translate(-70%, -50%);
    }
}

@media only screen and (max-width: 700px) {
    .welcome-box{
        max-height: 470px;    
    }

    .welcome-text{
        left: 0;
        transform: translate(-0%, -50%);
        max-width: 400px;
        padding: 0px 20px;
        width: 100%;
    }
}

@media only screen and (max-width: 400px) {

    .welcome-text{
        width: 300px;
        padding: 0px 20px;
        width: 100%;
    }
}

/****************** animation box *******************/
.welcome-background-animation{
    width: 1000px;
    height: 100%;
    position: absolute;
}

.baloon {
    position: absolute;
    animation: animate 25s linear infinite;
    bottom: -400px;
}

#baloon-1 {
    left: 25%;
    width: 270px;
    animation-delay: 0s;
    z-index: 20;
    animation-duration: 18s;
}

#baloon-2 {
    left: 5%;
    width: 170px;
    animation-delay: 8s;
    animation-duration: 20s;
    z-index: 8;
}

#baloon-3 {
    left: 45%;
    width: 120px;
    animation-delay: 10s;
    animation-duration: 23s;
}

#baloon-4 {
    left: 20%;
    width: 100px;
    animation-delay: 5s;
    animation-duration: 23s;
    z-index: 4;
}

#baloon-5 {
    left: 30%;
    width: 50px;
    animation-delay: 0s;
}

#baloon-6 {
    left: 35%;
    width: 200px;
    animation-delay: 5s;
    animation-duration: 20s;
    z-index: 20;
}

@keyframes animate {

    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-1000px);
        opacity: 0.7;
    }
}

.cloud {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: cloud 30s infinite;
    opacity: 0.8;
}

#cloud-1 {
    width: 500px;
    left: -100px;
    bottom: -80px;
}

#cloud-2 {
    width: 500px;
    left: 30%;
    animation-delay: 3s;
    bottom: -40px;
}

#cloud-3 {
    width: 250px;
    left: 15%;
    z-index: 19;
    animation-delay: 5s;
}

@keyframes cloud {

    0%, 100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-100px);
    }

}